  .url_1{cursor:pointer;}
h2 {
  color:rgb(251,229,215);
  font-size : 70px;
  margin-top:0px;
  margin-bottom:0px;
  text-shadow:2px 2px 1px rgb(149,81,36);
}
h3 {
  color:rgb(247,15,73);
  font-size : 70px;
  margin-top:0px;
  margin-bottom:0px;
  text-shadow:2px 2px 1px rgb(149,81,36);
}
p {
  color : white;
  font-size : 20px;
  margin-top:10px;
  margin-bottom:0px;
  text-shadow:1px 1px 1px rgb(189,91,28);
}
a {
  color:rgb(237,125,49);
  font-size:34px;
  font-weight:900;
  font-family:"font_1.ttf";
  vertical-align:middle;
  margin-top:0px;
  text-decoration:none;
}
body{
  background-color:rgb(237,125,49);
  text-align:center;
  font-size:30px;
}
#version{
  margin-top:0;
  font-size:20x;
  text-align:right;
  color:rgb(251,229,215);
  font-weight:30;
}
#container {
  background-color:rgb(237,125,49);
  margin-top:30px;
  position: relative;
  border: 1px #888;
  text-align:center;
}
#logo{
  background-color:rgb(237,125,49);
  width:800px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border:1px;
  border-color:rgb(219,99,19);
}
#content{
  background-color:rgb(237,125,49);
  width:800px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border:1px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-color:rgb(219,99,19);
}
#url_1{
  box-shadow:1px 1px 1px rgb(247,203,174);
  line-height:95px;
  background-color:rgb(251,229,215);
  margin-top:50px;
  margin-bottom:50px;
  width:600px;
  height:100px;
  border:1px;
  float:center;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border-radius: 10px;
}
#url_2{
  box-shadow:1px 1px 1px rgb(247,203,174);
  line-height:95px;
  background-color:rgb(248,203,172);
  margin-top:50px;
  margin-bottom:50px;
  width:600px;
  height:100px;
  border:1px;
  float:center;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border-radius: 10px;
}
#url_3{
  box-shadow:1px 1px 1px rgb(247,203,174);
  line-height:95px;
  background-color:rgb(244,177,132);
  margin-top:50px;
  margin-bottom:50px;
  width:600px;
  height:100px;
  border:1px;
  float:center;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border-radius: 10px;
}
#main_content{
  display:table-cell;
  vertical-align:middle;
  background-color:rgb(248,203,172);
  width:800px;
  height:800px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  border:1px;
  border-radius: 10px;
  border-color:rgb(219,99,19);
}
#main_content_foralign{
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
#question_button_box{
  background-color:rgb(248,203,172);
  width:800px;
  height:100px;
  border:1px;
  border-radius: 10px;
  border-color:rgb(219,99,19);
}
#question_button_1{
  box-shadow:1px 1px 1px rgb(247,203,174);
  line-height:98px;
  background-color:rgb(251,229,215);
  margin-top:0px;
  margin-bottom:0px;
  margin-left:50px;
  width:100px;
  height:100px;
  border:1px;
  border-radius: 10px;
  float:left;
}
#result_box{
  width:800px;
  height:300px;
  border:1px;
  background-color:(237,125,49)
  margin-top:100px;
  margin-bottom:100px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
#result_1{
  margin-top:30px;
  margin-bottom:30px;
  width:270px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
#result_2{
  margin-top:30px;
  margin-bottom:30px;
  width:270px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
#MENU{
position:relative;
left:50%;
transform:translateX(-50%);
}
